@model IEnumerable<QBO_Events_Management.Models.Participant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasAttended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParticipantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParticipantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParticipantID })
        </td>
    </tr>
}

</table>
