@model IEnumerable<QBO_Events_Management.Models.AttendeeList>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profiles.Name)
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profiles.Name)
                </td>

                <td>

                </td>

                <td>
                    @Html.ActionLink("View Profile", item.Uri) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>





