@model IEnumerable<QBO_Events_Management.Models.EventList>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Events";
}


<div class="container">
    <div class="row">
        <br /><br /><br /><br />
        <h1 class="title">EVENTS</h1>
        <br />
        <div class="col-lg-3">
        </div>

        <div class="col-lg-6">

            @*<div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">

                            <span class="glyphicon glyphicon-search"></span>

                        </span>
                    </div>
                </div>*@

        </div>

        <br><br><br>

        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>*@
                    <th>

                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Names)*@
                        Title
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Descriptions)*@
                        Description
                    </th>
                    <th>
                        Start-End Date
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Start)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.End)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Changed)
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Tickets
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @*@if (item.Images.Original.ImgUrl != null)
                                {
                                   <img src="@item.Images.Original.ImgUrl" width="200" class="img-responsive" />
                                 }*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Names.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descriptions.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start.Local)
                            to
                            @Html.DisplayFor(modelItem => item.End.Local)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Changed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            0/@Html.DisplayFor(modelItem => item.Tickets)
                        </td>
                        <td>
                            @*@Html.ActionLink("View Attendees", "Attendees", new { id = item.ID class="btn btn-primary" })
                                @Html.ActionLink("Details",item.URL)
                                <a href="@item.URL" target="_blank">Details</a>*@
                            <a href="@Url.Action("Attendees", new { id=item.ID})" class="btn btn-primary"><i class="fa fa-address-card-o"></i> View Participants</a>
                            <a href="@item.URL" target="_blank" class="btn btn-success"><i class="fa fa-navicon"></i> View Details</a>
                        </td>
                    </tr>}
            </tbody>

        </table>

    </div>
</div>






