@model IEnumerable<QBO_Events_Management.Models.EventList>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="eventlist">
    <br /><br /><br />
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Names)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descriptions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Changed)
                </th>           
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Names.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descriptions.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start.Local)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End.Local)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Changed)
                        </td>
                        <td>
                            @Html.ActionLink("Attendees", "Attendees", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                        </td>
                    </tr>
                }
        </tbody>

    </table>

    </div>







